body {
    font-family: "Bitter";
}

#cabecera {
    margin: 20px 15px 20 15px;
    display: flex;
}

#outerLogo {
    width: 8%;
}

#logo {
    width: 100%;
}

#letreros {
    display: inline-grid;
}

#letrero1 {
    width: 92%;
    padding: 5px 10px 0 10px;
    font-family: "Montserrat";    
    font-size: 25pt;
}

#letrero2 {
    padding: 0 10px 0 10px;
}

#formulario {
    padding: 0 15px;

} 

#formulario label {
        margin-bottom: 0;
}

.oculto {
    display: none;
}

.visible {
    display: block;
}

.validationField {
    color: red; 
    font-size: 14px;
    margin-left: 14px;
}

#categorias {
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1rem;
}


