body {
    font-family: "Bitter";
}

#cabecera {
    margin: 20px 15px 20 15px;
    display: flex;
}

#outerLogo {
    width: 8%;
}

#logo {
    width: 100%;
}

#letreros {
    display: inline-grid;
}

#letrero1 {
    width: 92%;
    padding: 5px 10px 0 10px;
    font-family: "Montserrat";    
    font-size: 25pt;
}

#letrero2 {
    padding: 0 10px 0 10px;
}

#calendarMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-navi {
    text-align: left;
}

#rango-fecha {
    text-align: center;
}

#contenedorLeyendaCalendarios{
    display:flex;
    justify-content: right;
}


#calendario {
    margin: 10px;
    border: 1px grey solid;
    height: 75%;
}

#releaseDate {
    font-size: 9px;
    text-align: right;
    margin: -9px 11px 0 0;
    padding: 0;
}

.calendar-btn {
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #333;
    margin-right: 5px;;
}

.calendar-btn.calendar-move-today {
    padding: 0 16px;
    line-height: 30px;
    font-weight: 700;
}

.calendar-btn.calendar-move-day {
    padding: 8px;    
}

.toastui-calendar-template-popupDetailTitle{
    word-break: break-word;
}

.indicacion-calendario{
    display: inline-table;
    padding: 2px;
    margin: 0 10px;
}

.imagenCategoria {
    width: 50px;
    margin: 2px 2px;
}

.calendar-icon {
    display: inline-block;
    width: 14px; 
    height: 14px;
    vertical-align: middle;
}

.ic-arrow-line-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAKNJREFUKBVjYKA2aGhoYMJnJiM2ybCwsIb////rCQoKhs+aNes3NjUYpoJsAmkCKg58//79yrS0NFZsGrHaCFIM0gTSDMTrsdnMjM20s2fP/rOxsVn348cPHZBmEA3ig8Rh6rFqBEkS0ozhR5iJhGisfgRpIuRPrBoJaQIZjOFUUHQQClGQRozAOXDgwH8dHR1NoNx7bNEA0oQXEEpyeDXjkwQAiyNhSndGN/YAAAAASUVORK5CYII=) no-repeat;
}

.ic-arrow-line-left {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAK1JREFUKBVjYKAFaGhoYMJlLjMuibS0NNZHjx6t1tHR0bx69eoBdHVYTQRpev/+/Uqg4sD////rYbOZEd0kZE1AufWCgoLhs2bN+o2uDkUjsZpAhsA1kqIJpBGrH0EShAA8VM+ePfvPxsZm3Y8fP3SAmgJBNIgPEsdmCFwjSJIUzRhOBYUgKCSB5qwH4kBQtBAVHSCbQQAWWIyMjJdWrVrVABYklsBmE7F6caoDAB4rYZDo034sAAAAAElFTkSuQmCC) no-repeat;
}

.calendar-render-range {
    font-size: 19px;
    line-height: 30px;
    vertical-align: bottom;
    margin-left: 7px;
}

